
h1 {
    color: brown;
    }
p {
    border-style: solid; 
    border-width: 1px;
    border-color: gold;
    border-collapse: collapse;
    font-size: 20px;
    line-height: 19px;
    text-indent: 40px;
    }

h2 {
	font-style: Helvetica;
}

img {
	float: right;
	clear: both;
}

nav {
	background-color: wheat;
}

section, code {
	border:3px solid #EDC02B;
}

code {
	visibility: hidden;
}

h4 {
	text-decoration: underline;
}

h3 {
	text-transform: uppercase;
}

form {
	max-width: 500px;
	max-height: 130px;
}

ul {
	list-style: katakana;
}

ol {
	list-style-type: upper-latin;
	list-style-position: inside;
}

article {
	right: 50px;
}

article {
	letter-spacing: 2px;
	overflow: auto;
	display: none;
}

ul {
	list-style: katakana;
}

#middle {
	text-align: center;
}

#header, #footer {
	font-weight: bold;
}

#header {
	position: fixed;
	left:0px;
	top:0px;
	z-index:-1;
}

#background {
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/8/88/Volleyball.jpg');
	background-repeat: no-repeat;
	background-position: right center;
}

#resourcelist {
	bottom: 50px;
	width: 48.5%;
	height: 50px;
}

#what {
	background-color: brown;
	border-color: black;
	border-spacing: 15px, 15px;
	white-space: nowrap;
	margin: 5%;
}

.padding {
	padding: 10px;
	background: gold;
	background-attachment: fixed;
}



/*

min-width

min-height

background-position??
background-repeat??

list-style-image?
*/
